body{
    background-color: #AA5939;
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FFD1AA;
}

#bigTitle{
    text-align: center;
}

#para{
    background-color: #FFD1AA;
    color: #AA5939;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 2px solid #611C00;
    padding: 10px;
    border-radius: 5px;
}

#paraTwo{
    background-color: #FFD1AA;
    color: #AA5939;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 2px solid #611C00;
    padding: 10px;
    border-radius: 5px;
    display: none;
    width: 60%;
    justify-self: center;
}

#bryce{
    height: 200px;
    justify-self: center;
}

#topImage{
    display: grid;
    height: 455px;
    justify-self: center;
    border-radius: 5px;
    border: 2px solid #611C00;
}

#winterBryce{
    justify-self: center;
    height:300px;
}

#firstButtons{
    background-color: #FFD1AA;
    color: #AA5939;
    border: 2px solid #611C00;
    border-radius: 40px;
    height: 20px;
    width: 37%;
    display: grid;
    justify-self: center;
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#leave{
    display: grid;
    text-align: center;
    color: #FFD1AA;
}